{% extends "back_end/base.html.twig" %}

{% block menu_header %}
    {% include "back_end/actualite/__header.html.twig" %}
{% endblock %}

{% block contenu %}

    <div class="row">
        <h5 class=" m-auto col-8"><i class="fa fa-users-cog"></i> Gestion des actualites</h5>
        <div class="col-3 float-right">
            <a href="{{path('add_actualite')}}" class="btn btn-primary petite-taille"><i class="fas fa-plus-circle"></i> Ajouter une actualitée </a>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <table id="table" data-toggle="table" data-url="{{ path('json_actualite')}}" data-pagination="true" data-search="true" data-pagination: "true">
                <thead>

                    {# <select id="type_duree" name="type_duree">
                        <option value="visa_classic"> Visa classic </option>
                        <option value="carte_tourisme"> Carte de tourisme </option>
                        <option value="e_visa"> E-visa </option>
                        <option value="invitation"> Invitation </option>
                    </select> #}

                    <tr>
                        <th data-field="titre" data-sortable="true"> Titre </th>
                        <th data-field="meta.titre" data-sortable="true"> Titre Balise HTML </th>
                        <th data-field="meta.metaDescription" data-align="center" data-sortable="true">Description Balise HTML</th>
                        <th data-field="actif" data-formatter="booleanFormatter" data-sortable="true"> Active </th>
                        <th data-field="slug" data-sortable="true"> URL simplifiée </th>
                        <th data-field="dateCreation.timestamp" data-formatter="dateFormatter" data-sortable="true"> Date de création </th>
                        <th data-field="dateModification.timestamp" data-formatter="dateFormatter" data-sortable="true"> Date de modification </th>
                        <th data-field="edit" data-formatter="actionsFormatter"> Editer </th>
                    </tr>

                </thead>
            </table>
        </div> 
    </div>
    <ul class="sticky-toolbar">
        <li class="toolbar-items">
            <a href="{{path('add_actualite')}}" class="btn btn-primary"><i class="fas fa-plus-circle"></i> </a>
        </li>
    </ul>

{% endblock %}

{% block javascripts %}

    {{ parent() }}
    <script>

         function actionsFormatter(value, row, index){
            return '<a href="'+Routing.generate('edit_actualite', {'id' : row.id})+'" title="Modifier"><i class="far fa-edit"></i></a>'+
                    '<a href="'+Routing.generate('del_actualite', {'id' : row.id})+'" title="Supprimer"><i class="fas fa-trash"></i></a>';
        }

        {# var table = $('#table')
        var button = $('select')

        $(function() {
            button.change(function () {
                $( "select option:selected" ).each(function() {
                    table.bootstrapTable('filterBy', {
                        typeDuree: $( this ).val()
                    })
                    console.log($( this ).val())
                });
                
            })
        }) #}
        
        function booleanFormatter(value, row, index) {
            if (value === true) {
                return '<i class="fas fa-check text-success text-center"></i>';
            }
            else {
                return '<i class="fas fa-times text-danger text-center"></i>';
            }
        }

        function visaFormatter(value, row, index) {
            if(row["visaClassic"]) {
                return '<strong> Visa classic </strong>';
            }
            else if(row["evisa"]) {
                return '<strong> E visa </strong';
            }
            else if(row["carteTourisme"]) {
                return '<strong>Carte de tourisme</strong>';
            }
            return 'Aucun visa n\'est selectionner';
        }
        
        function dateFormatter(value, row, index) {
            var date = new Date(value*1000);
            return `${date.getDate()}/${date.getMonth() + 1}/${date.getFullYear()} à ${date.getHours()}h${date.getMinutes()}`;
        }
    </script>
    
{% endblock %}