<style>
    .modal{
        margin: 35px;
        max-width: 1100px;
        overflow: auto;

    } 
</style>

<div class="row">
    <h5 class=" m-auto col-8"><i class="fa fa-users-cog"></i> Demandes</h5>
</div>

<div class="row mt-5">
    <div class="col-12">
        <div class="row mt-5">
            <div class="col-12">
                <table data-toggle="table" id="table" data-url="{{ path('json_demandes_client', {id: id}) }}" data-pagination="true" data-search="false" data-pagination: "true"   data-show-header="true">
                    <thead>
                        <tr>
                            <th data-field="demande" data-formatter="demandeFormatter" data-sortable="true">Demande</th>
                            <th data-field="prestations" data-formatter="prestationsFormatter" data-sortable="true">Prestations</th>
                            <th data-field="transport" data-formatter="transportFormatter" data-sortable="true">Transport</th>
                            <th data-field="edit" data-formatter="actionsFormatter">Action</th>
                        </tr>
                    </thead>
                </table>
            </div> 
        </div>
    </div> 
</div>

<script src="https://unpkg.com/bootstrap-table@1.15.5/dist/bootstrap-table.min.js"></script>

<script>
    
    function dateDiff(date1, date2){
        var diff = {}                           // Initialisation du retour
        var tmp = date2 - date1;
    
        tmp = Math.floor(tmp/1000);             // Nombre de secondes entre les 2 dates
        diff.sec = tmp % 60;                    // Extraction du nombre de secondes
    
        tmp = Math.floor((tmp-diff.sec)/60);    // Nombre de minutes (partie entière)
        diff.min = tmp % 60;                    // Extraction du nombre de minutes
    
        tmp = Math.floor((tmp-diff.min)/60);    // Nombre d'heures (entières)
        diff.hour = tmp % 24;                   // Extraction du nombre d'heures
        
        tmp = Math.floor((tmp-diff.hour)/24);   // Nombre de jours restants
        diff.day = tmp;
        
        return diff;
    }

    function demandeFormatter(value, row, index) {
        return 'Réference : <strong>'+row["reference"]+'</strong><br/>  '+
                '<strong>' + row["client"]["email"] + '</strong>';
    }

    function prestationsFormatter(value, row, index) {
        
        return '<strong>'+row["quantiteVisa"]+'</strong>';
    }

    function actionsFormatter(value, row, index){
        var route ='';
        if(row["carteTourisme"]) {
            route = 'edit_demandes_carte_tourisme';
        }
        else if(row["assurance"]) {
            route = 'edit_demandes_assurance';
        }
        else if(row["visaType"]["visaClassic"]) {
            route = 'edit_demandes_visa_classic';
        }
        else if(row["visatype"]["eVisa"]) {
            route = 'edit_demandes_evisa';
        }
        return '<a href="'+ Routing.generate(route, {id : row["id"]}) + '" rel="modal:open"> Voir';
    }

    function transportFormatter(value, row, index){
        return row["transport"]["titre"];
    }
</script>

    
