body{
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    font-weight: 300;
    color: #646c9a !important;
}

.fa {
    color: #CCCC00 !important;
    font-size: 20px;
    padding-right: 5px;
}

.far {
    font-size: 1.2rem;
    margin: 5px;
}

.fas {
    font-size: 1.2rem;
    margin: 5px;
}

.fa-italic{
    color: #CCCC00 !important;
    font-style: italic !important;
}
.menu-l {
    color: #9899ac;
}

.active{
    color:#850d11 !important;
    font-weight: bold !important;
    background-color: #CCCC00 !important;
}
.active i{
    color:#850d11 !important;
    
}
.nav-link:visited{
    color: #9899ac;
}

.top-menu {
    min-height: 80px;
    align-items: center;
}

.petite-taille {
    font-size: 1rem;
    vertical-align: middle;;
}

.kt-badge.kt-badge--rounded {
    border-radius: 0;
}

.kt-badge.kt-badge--inline {
    height: 0;
    width: auto;
    padding: 0.75rem 0.75rem;
}

.kt-badge.kt-badge--info {
    color:#ffffff;
    background:#5578eb;
}

/* .kt-badge.kt-badge--lg {
    height: 35px;
    width: 35px;
    font-size: 1rem !important;
} */

strong {
    font-weight: bold;
}

.btn-enregistrer {
    background-color:#1dc9b7;
    border-color:#1dc9b7;
    color: white;
}

.btn-retour {
    background-color:#fd397a;
    border-color:#fd397a;
    color: white;
}

.sticky-toolbar {
    width: 46px;
    position: fixed;
    top: 30%;
    right: 0;
    list-style: none;
    padding: 5px 0;
    margin: 0;
        margin-top: 0px;
    z-index: 50;
    background:    #fff;
    -webkit-box-shadow: 0px 0px 50px 0px rgba(82, 63, 105, 0.15);
    box-shadow: 0px 0px 50px 0px rgba(82, 63, 105, 0.15);
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.toolbar-items {
    margin: 0;
    padding: 5px;
    text-align: center;
    width: 100%;
}

.close-modal {
    top: 15px !important;
    right: 11px !important;
}

.fixed-table-toolbar {
    margin-top: 1.5rem;
}

th.profil .fht-cell {
    position: absolute ;
    bottom: 101%;
    left: 35%;
}

div.vich-image  a  img {
    width: 100% !important;
}

.check {
    font-size: 10px;
}
th.categoriefaq .fht-cell {
    position: absolute ;
    bottom: 115%;
    left: 0%;
}

th.sujetfaq .fht-cell {
    position: absolute ;
    bottom: 115%;
    left: 19%;
}

.menu-left.show {
    position: initial !important;
    transform: none !important;
    color:#850d11 !important;
    font-weight: bold !important;
    background-color: #282733;
    margin: 0;
    width: 100%;
    border: none;
    border-radius: inherit;
}
.menu-left.show a {
    color: #9899ac;
}

.add-question {
    left: 40%;
}

.z-index-1 {
    z-index: 1 !important;
}

.detail-icon .fa {
    color: #007bff !important;
}

/*PC*/
@media screen and (min-width: 1024px) and (max-width: 1300px)
{ 
    .fas {
        font-size: 1rem;
    }

    .petite-taille {
        font-size: 0.85rem;
    }
} 

/*Tablette*/
@media screen and (min-width: 740px ) and (max-width: 1024px )
{
    
    
}

/*Fone*/
@media screen and (max-width: 320px  ) and (max-width: 720px  )
{ 
        
}

