<nav class="nav">

    <a class="nav-link {% if app.request.attributes.get('_route') == 'infos_entreprise_visa_classic' %} active {% endif %}" href="{{ path('infos_entreprise_visa_classic')}}"><i class="fa fa-building"></i>Infos Entreprise</a>

    <a class="nav-link {% if app.request.attributes.get('_route') == 'show_pays_visa_classic' %} active {% endif %}" href="{{ path('show_pays_visa_classic')}}"><i class="fa fa-flag"></i>Pays Visas classiques</a>

    <a class="nav-link {% if app.request.attributes.get('_route') == 'liste_transport_visa_classic' %} active {% endif %}" href="{{ path('liste_transport_visa_classic')}}"><i class="fa fa-shipping-fast"></i> Tarifs transport/livraison</a>

    <a class="nav-link {% if app.request.attributes.get('_route') == 'show_demandes_visa_classic' %} active {% endif %}" href="{{ path('show_demandes_visa_classic')}}" ><i class="fa fa-check"><span></span></i>Gestion des demandes</a>

</nav>
