{% extends "back_end/base.html.twig" %}
{% block title %}Questions/Réponses{% endblock %}
{% block menu_header %}
    {% include "back_end/faq/__header.html.twig" %}
{% endblock %}

{% block contenu %}

    <div class="row">
        <h5 class=" m-auto col-8"><i class="fa fa-users-cog"></i> Gestion des questions/réponses</h5>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="col-6 mt-4 position-absolute add-question">
                <a href="#" id="question-add" class="btn btn-primary petite-taille" rel=""> Ajouter une question</a>
            </div>
            <table id="table" class="mt-4" data-toggle="table" data-url="{{ path('json_questions_reponses')}}" data-pagination="true" data-search="true" data-pagination: "true"  data-filter="true" data-filter-control="true">
                <thead>

                    <tr>
                        <th data-field="sujetFaq.categorieFaq.titre" class="categoriefaq" data-filter-default="Choisir une catégorie" data-formatter="categorieFormatter" data-filter-control="select" data-sortable="true"> Catégorie </th>
                        <th data-field="sujetFaq.titre" class="sujetfaq" data-formatter="sujetFormatter" data-filter-control="select" data-sortable="true"> Sujet </th>
                        <th data-field="question" data-align="center" data-sortable="true">Question</th>
                        <th data-field="reponse" data-sortable="true"> Réponse </th>
                        <th data-field="edit" data-formatter="actionsFormatter"> Editer </th>
                    </tr>

                </thead>
            </table>
        </div> 
    </div>

{% endblock %}

{% block javascripts %}

    {{ parent() }}
    <script src="https://unpkg.com/bootstrap-table@1.15.5/dist/extensions/filter-control/bootstrap-table-filter-control.min.js"></script>

    <script>

        function sujetFormatter(value, row, index) {
            return row["sujetFaq"]["titre"]
        }

        function categorieFormatter(value, row, index) {
            if(row["sujetFaq"]["categorieFaq"] ==null) {
                return '<em>Aucune catégorie</em>';
            }
            else {
                return row["sujetFaq"]["categorieFaq"]["titre"]
            }
        }
         function actionsFormatter(value, row, index){
            return '<a href="'+Routing.generate('edit_question_reponse', {'id' : row.id})+'" title="Modifier" rel="modal:open"><i class="far fa-edit"></i></a>'+
                    '<a href="'+Routing.generate('del_question_repose_faq', {'id' : row.id})+'" title="Supprimer"><i class="fas fa-trash"></i></a>';
        }

        var $table = $('#table')
        var $button = $('select')

        $(function() {
            $button.change(function () {
                $( "select option:selected" ).each(function() {
                    $table.bootstrapTable('filterBy', {
                        typeDuree: $( this ).val()
                    })
                    console.log($( this ).val())
                });
                
            })
        })
        
        function booleanFormatter(value, row, index) {
            if (value === true) {
                return '<i class="fa fa-check text-success text-center"></i>';
            }
            else {
                return '<i class="fa fa-times text-danger text-center"></i>';
            }
        }

        function visaFormatter(value, row, index) {
            if(row["visaClassic"]) {
                return '<strong> Visa classic </strong>';
            }
            else if(row["evisa"]) {
                return '<strong> E visa </strong';
            }
            else if(row["carteTourisme"]) {
                return '<strong>Carte de tourisme</strong>';
            }
            return 'Aucun visa n\'est selectionner';
        }

        $('#question-add').on('click', function() {
            var categorie = $('.categoriefaq option:selected').val();
            var sujet = $('.sujetfaq option:selected').val();
            if(sujet) {
                $('#question-add').attr('href', Routing.generate('add_question_reponse', {'sujettitre' : sujet}));
                $('#question-add').attr('rel', 'modal:open')
            }
            
        })
        
        
    </script>
    
{% endblock %}