{% extends "back_end/base.html.twig" %}
{% block title %}Choisir un client{% endblock %}

{% block contenu %}

    <div class="row">
        <h5 class=" m-auto col-8"><i class="fa fa-users-cog"></i>Liste des utilisateurs back office </h5>
        <div class="col-3 float-right">
            <a href="{{path('add_client')}}" class="btn btn-primary petite-taille"><i class="fas fa-plus-circle"></i> Nouveau client</a>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="col-6 mt-5 position-absolute">
                <label class="kt-checkbox">
                    <input id="premium-filter" type="checkbox"> Afficher uniquement les clients  <strong>Premium</strong>
                </label>
            </div>
            <table id="table" class="mt-4" data-toggle="table" data-url="{{ path('json_clients')}}" data-pagination="true" data-search="true" data-pagination: "true" data-filter-control="true">
                <thead>
                    <tr>
                        <th data-sortable="true" data-field="username">Login de connexion</th>
                        <th data-field="nom" data-sortable="true">Nom</th>
                        <th data-field="prenom" data-sortable="true">Prenom</th>
                        <th data-field="valide" data-formatter="booleanFormatter" data-align="center" data-sortable="true">Actif</th>
                        <th data-field="premium" data-formatter="booleanFormatter" data-align="center" data-sortable="true">Premium</th>
                        <th data-field="roles" data-formatter="rolesFormatter" data-filter-control="select" data-sortable="true" class="profil">Profil</th>
                        <th data-field="dateCreation.timestamp" data-formatter="dateFormatter" data-sortable="true">Date de création</th>
                        <th data-field="dateModif.timestamp" data-formatter="dateFormatter" data-sortable="true">Date de modification</th>
                        <th data-field="edit" data-formatter="actionsFormatter">Editer</th>
                    </tr>
                </thead>
            </table>
        </div> 
    </div>

{% endblock %}

{% block javascripts %}

    {{ parent() }}
    <script src="https://unpkg.com/bootstrap-table@1.15.5/dist/extensions/filter-control/bootstrap-table-filter-control.min.js"></script>

    <script>

        function actionsFormatter(value, row, index){
            return '<a href="'+Routing.generate('add_course', {'id' : row.id})+'" title="Ajouter une course" rel="modal:open"><i class="fas fa-plus-circle"></i> Nouvelle note de course</a>';
        }

        function booleanFormatter(value, row, index) {
            if (value === true) {
                return '<i class="fas fa-check text-success text-center"></i>';
            }
            else {
                return '<i class="fas fa-times text-danger text-center"></i>';
            }
            
        }

        function dateFormatter(value, row, index) {
            var date = new Date(value*1000);
            return `${date.getDate()}/${date.getMonth() + 1}/${date.getFullYear()}`;
        }

        function rolesFormatter(value, row, index) {
            var roles = row["roles"];
            var txt =[];
            for(var i in roles)
            {
                switch (roles[i]) {
                case "ROLE_ENTREPRISE":
                    txt.push("Entreprise") 
                    break;
            
                case "ROLE_AGENCEVOYAGE":
                    txt.push("Agence de voyage")
                    break;
                case "ROLE_CLIENT":
                    txt.push("Client")
                    break;      
        
                default:
                    txt.push("Aucun droit n'est sélectionner")
                    break;
                }
            }
            return txt;
        }

        var table = $('#table')
        var button = $('#premium-filter')
        button.on("change", function() {
            if($(this).is(':checked')) {
                table.bootstrapTable('filterBy', {
                    premium: true
                })
            }
            else {
                table.bootstrapTable('destroy')
                table.bootstrapTable()
            }
            

        })
        

    </script>
    
{% endblock %}

