{% extends "back_end/base.html.twig" %}
{% block title %}Note de course{% endblock %}

{% block contenu %}

    <div class="row">
        <h5 class=" m-auto col-8"><i class="fa fa-users-cog"></i> Liste des notes de course</h5>
        <div class="col-3 float-right">
            <a href="{{path('select_client_course')}}" class="btn btn-primary petite-taille"><i class="fas fa-plus-circle"></i> Ajouter une Course </a>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="col-8 mt-5 position-absolute">
                <div class="row">
                    <select id="service-filter"  class="form-control col-4 mr-3">
                        <option value="default">Sélectionner un type de visa</option>
                        <option value="carte_tourisme">Carte de tourisme</option>
                        <option value="visa_classic">Visa classic</option>
                    </select>
                    <select id="type-filter" class="form-control col-4">
                        <option value="default">Sélectionner un type de course</option>
                        <option value="type_livraison">Livraison</option>
                        <option value="type_enlevement">Enlèvement</option>
                    </select>
                </div>
            </div>
            <table id="table" data-toggle="table" data-url="{{ path('json_notes_de_course')}}" data-pagination="true" data-search="true" data-pagination: "true" class="mt-3">
                <thead>
                    <tr>
                        <th data-field="reference" data-formatter="referenceFormatter" data-sortable="true">Référence</th>
                        <th data-field="dateEnlevement.timestamp" data-formatter="dateFormatter" data-sortable="true">Date / heure de RDV</th>
                        <th data-field="coursier.prenom" data-sortable="true">Coursier </th>
                        <th data-field="client" data-formatter="clientFormatter" data-sortable="true">Client </th>
                        <th data-field="edit" data-formatter="actionsFormatter">Réalisation</th>
                    </tr>
                </thead>
            </table>
        </div> 
    </div>
    <ul class="sticky-toolbar">
        <li class="toolbar-items">
            <a href="{{path('select_client_course')}}" class="btn btn-primary"><i class="fas fa-plus-circle"></i> </a>
        </li>
    </ul>

{% endblock %}

{% block javascripts %}

    {{ parent() }}
    <script>
        var table = $('#table')
        var buttonServiceFilter = $('#service-filter')
        var buttonTypeFilter = $('#type-filter')

        buttonServiceFilter.change(function() {
            $('#service-filter option:selected').each(function(){
                var val=$(this).val();
                if(val == "carte_tourisme") {
                    table.bootstrapTable('filterBy', {
                        tourisme: true
                    })
                }
                else if(val == "visa_classic") {
                    table.bootstrapTable('filterBy', {
                        classic: true
                    })
                }
                else if(val == "default") {
                    table.bootstrapTable('destroy')
                    table.bootstrapTable()  
                }
            })
        })

        buttonTypeFilter.change(function() {
            $('#type-filter option:selected').each(function(){
                var val=$(this).val();
                if(val == "type_livraison") {
                    table.bootstrapTable('filterBy', {
                        livraison: true
                    })
                }
                else if(val == "type_enlevement") {
                    table.bootstrapTable('filterBy', {
                        enlevement: true
                    })
                }
                else if(val == "default") {
                    table.bootstrapTable('destroy')
                    table.bootstrapTable()                
                }
            })
        })

        function referenceFormatter(value, row, index) {
            return '<a href="'+Routing.generate('edit_course', {'id' : row.id})+'" title="Modifier" rel="modal:open">'+value+' </a>';
        }

        function clientFormatter(value, row, index) {
            if(row["client"]) {
                return  row["client"]["nom"] + ' ' + row["client"]["prenom"]+
                        row["adresse"] + '<br/>' + 
                        row["codePostal"] + ' ' + row["ville"];
            }
            else{
                return  row["nom"]+ ' ' + row["prenom"] + '<br/>'+
                        row["adresse"] + '<br/>' + 
                        row["codePostal"] + ' ' + row["ville"];
            }
        }

        function actionsFormatter(value, row, index){
            var realisation = '';
            if(row["realiser"] == true)
            {
                realisation = 'Déja signer';
            }
            else 
            {
                realisation = ' Signer';

            }
            return  '<a href="'+Routing.generate('add_signature_course', {'id' : row.id})+'" title="Modifier"><i class="far fa-edit"></i> '+realisation+' </a>'+
                    '<a href="'+Routing.generate('del_course', {'id' : row.id})+'" title="Supprimer"><i class="fas fa-trash"></i></a>';
        }

        function booleanFormatter(value, row, index) {
            if (value === true) {
                return '<i class="fa fa-check text-success text-center"></i>';
            }
            else {
                return '<i class="fa fa-times text-danger text-center"></i>';
            }
        }

        function dateFormatter(value, row, index) {
            var date = new Date(value*1000);
            var livrEnlevement = "";
            if(row["livraison"] == true)
            {
                livrEnlevement = "Livraison"
            }
            else if(row["enlevement"] == true)
            {
                livrEnlevement = " Enlevement "
            }
            return `<strong>${livrEnlevement}</strong> le :<br/> ${date.toLocaleString("fr-FR")}`;
        }

        // function libelleFormatter(value, row,index){
        //     libelleZone = "";
        //     if (row["pays"]["zoneGeographique"]){
        //         return row["pays"]["titre"] + "<br /><small>" + row["pays"]["zoneGeographique"]["titre"] + "</small>";
        //     }
        //     return row["pays"]["titre"];
        // }

        
    </script>
    
{% endblock %}