<style>
    .modal{
        margin: 35px;
        max-width: 1100px;
        overflow: auto;

    } 
</style>

<div class="row">
    <h5 class=" m-auto col-8"><i class="fa fa-users-cog"></i>Réception dossier</h5>
</div>

<div class="row">
    <div class="col-12">
        {{ form_start(form, {'action': path('edit_course', {'id': id}), 'method': 'POST'}) }}
            {{ form(form) }}
        {{ form_end(form)}}
    </div> 
</div>
    
