{% extends "back_end/base.html.twig" %}

{% block menu_header %}
    {% include "back_end/visa_classic/demandes/__header.html.twig" %}
{% endblock %}



{% block contenu %}

    <div class="row">
        <h5 class=" m-auto col-8"><i class="fa fa-users-cog"></i>Demandes en cours</h5>
    </div>


    <div class="row">
        <div class="col-12">
            <div class="col float-left mt-5">
                <a href="{{path('expedition_visa_classic')}}" class="btn btn-light border petite-taille" rel="modal:open"> Expédition </a>
                <a href="#" id="frais" class="btn btn-light border petite-taille"  rel="modal:open"> Frais supplémentaires </a>
                <a href="#"  class="btn btn-light border petite-taille"  rel="modal:open"> New order </a>
                <a href="#"  class="btn btn-light border petite-taille"  rel="modal:open"> Mise à disposition </a>
                <a href="#"  class="btn btn-light border petite-taille"  rel="modal:open"> Supprimer </a>
            </div>
            <table data-toggle="table" id="table" data-url="{{ path('json_liste_demande_en_cours_visa_classic') }}" data-pagination="true" data-search="false" data-pagination: "true"   data-click-to-select="true" class="mt-5">
                <thead>
                    <tr>
                        <th data-field="demande" data-formatter="demandeFormatter" data-sortable="true" data-checkbox="true">Demande</th>
                        <th data-field="receptionDossier.dossierRecu.timestamp" data-formatter="dateFormatter" data-sortable="true">Dossier reçu le </th>
                        <th data-field="demande" data-formatter="" data-sortable="true">Paiement</th>
                        <th data-field="prestations" data-formatter="prestationsFormatter" data-sortable="true">Prestations</th>
                        <th data-field="edit" data-formatter="actionsFormatter">Etat</th>
                    </tr>
                </thead>
            </table>
        </div> 
    </div>
{% endblock %}

{% block javascripts %}

    {{ parent() }}
    <script>
    
        function dateDiff(date1, date2){
            var diff = {}                           // Initialisation du retour
            var tmp = date2 - date1;
        
            tmp = Math.floor(tmp/1000);             // Nombre de secondes entre les 2 dates
            diff.sec = tmp % 60;                    // Extraction du nombre de secondes
        
            tmp = Math.floor((tmp-diff.sec)/60);    // Nombre de minutes (partie entière)
            diff.min = tmp % 60;                    // Extraction du nombre de minutes
        
            tmp = Math.floor((tmp-diff.min)/60);    // Nombre d'heures (entières)
            diff.hour = tmp % 24;                   // Extraction du nombre d'heures
            
            tmp = Math.floor((tmp-diff.hour)/24);   // Nombre de jours restants
            diff.day = tmp;
            
            return diff;
        }

        function demandeFormatter(value, row, index) {
            return 'Réference : <strong>'+row["reference"]+'</strong><br/>  '+
                    '<strong>' + row["client"]["email"] + '</strong>';
        }

        function prestationsFormatter(value, row, index) {
            
            return '<strong>'+row["quantiteVisa"]+'</strong> Visa '+row["visaType"]["visaClassic"]["pays"]["titre"];
        }

        function actionsFormatter(value, row, index){
            var depot = new Date(row["receptionDossier"]["depot"]["timestamp"] * 1000);
            var heureActu = new Date();
            diff = dateDiff(heureActu, depot);
            if(diff.day > 0 || diff.hour > 0 || diff.min > 0)
            {
                return `En traitement : Il reste encore ${diff.day}jour(s) ${diff.hour}heure(s) ${diff.min}minute(s) `;
            }
            return 'En cours de traitement';
        }

        function booleanFormatter(value, row, index) {
            if (value === true) {
                return '<i class="fa fa-check text-success text-center"></i>';
            }
            else {
                return '<i class="fa fa-times text-danger text-center"></i>';
            }
        }

        function dateFormatter(value, row, index) {
            var date = new Date(value*1000);
            return `${date.getDate()}/${date.getMonth() + 1}/${date.getFullYear()} à ${date.getHours()}h${date.getMinutes()}`;
        }

        var $table = $('#table');
        var $button = $('#frais');

        $(function() {
            $button.click(function(event) {
                var data = JSON.stringify($table.bootstrapTable('getSelections'));
                jsonData = JSON.parse(data);
                objet = jsonData[0];

                this.href = Routing.generate('frais_completementaire_visa_classic', {'id' : objet.id});
            })
        })
        
        

        
        
    </script>
    
{% endblock %}