<style>
    .modal{
        margin-top: 35px;
        max-width: 1100px;
    } 
</style>

<div class="row">
    <h5 class=" m-auto col-8"><i class="fa fa-users-cog"></i> Liste des pages pays</h5>
</div>

<div class="row">
    <div class="col-12">
        <div class="col-3 float-left mt-5">
                <form method="post" action="{{ path('liste_reception_dossier') }}">
                    <input type="text" id="reference" name="reference" placeholder="réference commande" class="form-control"/>
                </form>
            </div>
        <table data-toggle="table" data-url="{{ path('json_reception_dossier_visa_classic') }}" data-pagination="true" data-search="true" data-pagination: "true">
            <thead>
                <tr>
                    <th data-field="demande" data-formatter="demandeFormatter" data-sortable="true">Demande</th>
                    <th data-field="demande.dateCreation.timestamp" data-formatter="dateFormatter" data-sortable="true">Date de création</th>
                    <th data-field="demande" data-formatter="" data-sortable="true">Paiement</th>
                    <th data-field="prestations" data-formatter="prestationsFormatter" data-sortable="true">Prestations</th>
                    <th data-field="edit" data-formatter="actionsFormatter">Editer</th>
                </tr>
            </thead>
        </table>
    </div> 
</div>


    <script>

        function demandeFormatter(value, row, index) {
            return 'Réference : <strong>'+row["demande"]["reference"]+'</strong><br/>  '+
                    '<strong>' + row["demande"]["client"]["email"] + '</strong>';
        }

        function prestationsFormatter(value, row, index) {
            return 'Visa <strong>'+row["demande"]["visaType"]["visaClassic"]["pays"]["titre"]+'</strong> pour '+row["demande"]["quantiteVisa"]+' personne(s)';
        }

        function actionsFormatter(value, row, index){
            return '<a href="'+Routing.generate('edit_demandes_visa_classic', {'id' : row.id})+'" title="Modifier" rel="modal:open"><i class="far fa-edit"> Editer </i></a>';
        }

        function booleanFormatter(value, row, index) {
            if (value === true) {
                return '<i class="fa fa-check text-success text-center"></i>';
            }
            else {
                return '<i class="fa fa-times text-danger text-center"></i>';
            }
        }

        function dateFormatter(value, row, index) {
            var date = new Date(value*1000);
            return `${date.getDate()}/${date.getMonth() + 1}/${date.getFullYear()}`;
        }

        // function libelleFormatter(value, row,index){
        //     libelleZone = "";
        //     if (row["pays"]["zoneGeographique"]){
        //         return row["pays"]["titre"] + "<br /><small>" + row["pays"]["zoneGeographique"]["titre"] + "</small>";
        //     }
        //     return row["pays"]["titre"];
        // }

        
    </script>

    <script src="https://unpkg.com/bootstrap-table@1.15.5/dist/bootstrap-table.min.js"></script>
