 <style>
   .modal{
       margin-top: 35px;
       max-width: 1100px;
   } 
 </style>

 <div class="row justify-content-center mt-5">
    <div class="col-10 text-center">
        <h6 class="text-center my-5"> Modification autorisation par<strong> adresse ip</strong></h6>
            {{form_start(form, {'action': path('edit_access_ip_user', {'id': id}), 'method': 'POST'})}}

            

        {{ form_end(form, {'render_rest': false})}}
    </div>
</div>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Adresse Ip</th>
      <th scope="col">Derniere connexion</th>
    </tr>
  </thead>
  <tbody>
    {% for ip in ips %}
        <tr>
            <th scope="row">{{ip.ip}}</th>
            <td>{{ip.updatedAt|date('d/m/Y')}}</td>
        </tr>
    {% endfor %}
    </tr>
  </tbody>
</table>
