{% extends "back_end/base.html.twig" %}
{% block title %}Liste des utilisateurs / Autorisation ip{% endblock %}

{% block menu_header %}
    {% include "back_end/utilisateurs/__header.html.twig" %}
{% endblock %}


{% block contenu %}

    <div class="row">
        <h5 class=" m-auto col-12"><i class="fa fa-users-cog"></i>Liste des utilisateurs back office </h5>
        
    </div>

    <div class="row">
        <div class="col-12">
            <table data-toggle="table" data-url="{{ path('json_users')}}" data-pagination="true" data-search="true" data-pagination: "true"  data-show-refresh="true"> 
                <thead>
                    <tr>
                        <th data-sortable="true" data-field="username">Login de connexion</th>
                        <th data-field="nom" data-sortable="true">Nom</th>
                        <th data-field="prenom" data-sortable="true">Prenom</th>
                        <th data-field="valide" data-formatter="booleanFormatter" data-align="center" data-sortable="true">Actif</th>
                        <th data-field="roles" data-formatter="rolesFormatter" data-sortable="true">Profil</th>
                        <th data-field="dateCreation.timestamp" data-formatter="dateFormatter" data-sortable="true">Date de création</th>
                        <th data-field="dateModif.timestamp" data-formatter="dateFormatter" data-sortable="true">Date de modification</th>
                        <th data-field="edit" data-formatter="actionsFormatter">Editer</th>
                    </tr>
                </thead>
            </table>
        </div> 
    </div>

{% endblock %}

{% block javascripts %}

    {{ parent() }}
    <script>

        function actionsFormatter(value, row, index){
            return '<a href="'+Routing.generate('edit_access_ip_user', {'id' : row.id})+'" title="Modifier", rel="modal:open"><i class="far fa-edit"></i></a>';
        }

        function booleanFormatter(value, row, index) {
            if (value === true) {
                return '<i class="fas fa-check text-success text-center"></i>';
            }
            else {
                return '<i class="fas fa-times text-danger text-center"></i>';
            }
        }

        function dateFormatter(value, row, index) {
            var date = new Date(value*1000);
            return `${date.getDate()}/${date.getMonth() + 1}/${date.getFullYear()}`;
        }

        function rolesFormatter(value, row, index) {
            var roles = row["roles"];
            var txt =[];
            for(var i in roles)
            {
                switch (roles[i]) {
                case "ROLE_SUPERADMIN":
                    txt.push("Super administrateur, ") 
                    break;
            
                case "ROLE_COURSIER":
                    txt.push("Coursier, ")
                    break;

                case "ROLE_ADMIN":
                    txt.push("Administrateur secondaire, ")
                    break;
                case "ROLE_REDACTEUR":     
                    txt.push("Rédacteur, ") 
                    break;    
                case "ROLE_USER":
                    txt.push("Utilisateur simple, ")
                    break;      
        
                default:
                    txt.push("Aucun droit n'est sélectionner")
                    break;
                }
            }
            return txt;
            console.log(txt);
        }
    </script>
    
{% endblock %}