<!--<div data-include="espace-reserve-navbar" data-url="includes/"></div>-->
<nav class="navbar navbar-desktop navbar-espace-reserve">
    <a class="navbar-brand" href="index.html">
        <img src="/images/logo-vectorized.svg" alt="Logo visaenligne.com" class="top-navbar-logo">
    </a>

    <ul class="nav navbar-nav">
        <li class="active">
            <a href="mes-commandes.html">
                <div class="align-icon">
                    <div class="navbar-nav_icon"><img src="/images/mes-commandes.svg" alt="Icône mes commandes"></div>Mes commandes
                </div>
            </a>
        </li>
        <li>
            <a href="#" data-toggle="dropdown">
                <div class="align-icon">
                    <div class="navbar-nav_icon"><img src="/images/nouvelle-commande.svg" alt="Icône nouvelle commande"></div>Nouvelle commande
                </div>
            </a>
            <ul class="dropdown-menu" role="menu">
                <div class="close-header"><div class="btn-close"><img src="/images/close-white.svg" alt="fermer le sous-menu" class="close icon"></div></div>
                <li><a href="page-visa-classique.html">Visa</a></li>
                <li><a href="page-evisa.html">E-visa</a></li>
                <li><a href="page-cuba.html">Carte de tourisme Cuba</a></li>
                <li><a href="invitation-russie.html">Invitation tourisme</a></li>
                <li><a href="page-assurance.html">Assurance</a></li>
                <li><a href="#">Légalisation</a></li>
            </ul>
        </li>
        <li>
            <a href="coordonnees.html">
                <div class="align-icon">
                    <div class="navbar-nav_icon"><img src="/images/coordonnees.svg" alt="Icône mes coordonnées"></div>Mes coordonnées
                </div>
            </a>
        </li>
        <li>
            <a href="code-dacces.html">
                <div class="align-icon">
                    <div class="navbar-nav_icon"><img src="/images/code-dacces.svg" alt="Icône mes codes d'accès"></div>Mes codes d'accès
                </div>
            </a>
        </li>
        <li>
            <a href="mes-factures.html">
                <div class="align-icon">
                    <div class="navbar-nav_icon"><img src="/images/mes-factures.svg" alt="Icône mes factures"></div>Mes factures
                </div>
            </a>
        </li>
    </ul>
</nav>
